#form-page{
display: flex;
min-height: 100vh;
}

main{
  flex: 1;
}

.form-details{
  width: 70rem;
  height: 12rem;
  margin: 6.4rem auto;
  margin-bottom: 10px;

  border-radius: 2rem;
}


.id-additems-container{
  width: 70rem;
  height: 20rem;
  margin: 6.4rem auto;
  margin-top: 20px;


  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.client-id{
  width: 45rem;
  height: 20rem;

  border-radius: 2rem;
}

.add-item{
  
  width: 20rem;
  height: 20rem;
  margin: 6.4rem auto;
  margin-right: 0;
  margin-top: 0;

  border-radius: 2rem;
}





